:root{
    --cor0:#05060B;
    --cor1:#0D1A26;
    --cor2:#1D4859;
    --cor3:#417A8B;
    --cor4:#36BFBF;

    --fonteTech: font-family: 'Share Tech Mono', monospace;
    --fonteRoboto:font-family: 'Roboto', sans-serif;      
}

/* Geral */
body{
   background-color: #0D1A26;
}
body, h1, h2, input, textarea{
    margin: 0;
    font-family: 'Share Tech Mono', monospace;
}
h2{
    font-size: 30px;
}
p{
    font-family: 'Roboto', sans-serif;
    color: #fff;
  
}

/* Configurando Barra de navegação */

#navbar{
    background-color: var(--cor2);
    color: var(--cor4);
    height: 60px;
}
#navbar h2, #navbar ul, #navbar-list li, #navbar nav{
    display: inline-block;
    
}
#navbar h2{
    font-family: 'Share Tech Mono', monospace;
    margin: 0;
    line-height: 60px;
    margin-left: 55px;
}
#navbar img {
    height: 40px;
    position: absolute;
    padding: 4px;
    top: 10px;
}

#navbar nav{
    float: right;
}
#navbar ul{
    margin-top: 22px;
}
#navbar li{
    margin: 0 10px;
}

#navbar li a{
    text-decoration: none;
    color: #fff;
}
#navbar-list li a:hover{
    border-bottom: 1.5px solid var(--cor0);
}

/* Banner */

#main-banner {
    height: 70vh;         /* Significa que a altura será de 70% do tamanho da tela *responsividade* */
    background-image: url(/img/main-img.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 15vh;
}
#banner-info{
    width: 40%;
    margin-right: auto;
    margin-left:auto ;
    text-align: center;
    color: #fff;
    padding: 50px;
}

#banner-info img{
    height: 230px;
    border-radius: 16%;
    background-color: #1D4859;
    margin-top: 30px;
    margin-bottom: 30px;
}

#banner-info p{
    background-color: #0D1A26;
    color: var(--cor4);
    font-weight: bold;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    padding: 15px;
    font-family: 'Share Tech Mono', monospace;
}

#About-section{
    text-align: center;
    background-color: var(--cor1);
    color: var(--cor3);
    padding-top: 50px;
    height: 350px;
}

#About-section h2{
    color: var(--cor4);
    margin-bottom: 20px;
}
#About-section p{
    max-width: 650px;
    margin-left: auto;
    margin-right: auto;
    line-height:30px ;
}

/* Skillss */

#skills-section{
    margin-top: 26%;
    background-color: var(--cor0);
    opacity: 4px;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #fff;
}
#skills-section .container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.skills-container {
    flex: 1 1 1;
    text-align: center;
    padding: 60px 25px;
}
.central{
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.skills-container h3 {
    color: var(--cor4);
    font-size: 20px;
}
.skills-container img{
    height: 60px;
    padding: 15px;
    margin-bottom: 25px;
    border-top: 1px solid var(--cor3);
    border-left: 1px solid var(--cor3);
    border-right: 4px solid var(--cor3);
    border-bottom: 4px solid var(--cor3); 
    border-radius: 15px;
}
.subtitle{
    font-weight: bold;
    color: var(--cor4);
    margin-top: 50px;
    margin-bottom: 15px;
}
.skills-container p{
    line-height: 25px;
}

.jobs-section{
    text-align: center;
    padding-top: 50px;
}

.jobs-section h2{
    color: var(--cor3);
    margin-bottom: 30px;
}
.jobs-section p{
    margin-bottom: 50px;
}
.jobs-section a{
    font-weight: bold;
    color: var(--cor3);
}
.job-container{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.job-box{
    flex: 1 1 200px;
    margin-left: 25px;
    margin-right: 25px;
    min-height: 300px;
    background-size: cover;
    border-right: 2px solid var(--cor1) ;
    border-bottom: var(--cor1);
}

.proj1{
    background-image: url(../img/agency-img.png);
}
.proj2{
    background-image: url(../img/galeria.jpg);
}
.proj3{
    background-image: url(../img/shop-shoes-img.png);
}

/* Rodapé */

footer{
padding: 50px 0;
background-color: var(--cor0);
color: #fff;
text-align: center;
}

footer img{
    height: 90px;
    margin: 30px 0;
    border-radius: 39px;
}
footer p{
    margin-top: 25px;

}

footer form{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
footer input, footer textarea{
    border: none;
    padding: 15px;
    box-sizing: border-box;
    margin-bottom: 20px;
    width: 100%;
    display: block;
}

footer .detail{
    color: #36BFBF
}


/* Animação da barra final do txt */

.line{
    font-size: 2em;
    font-family: 'Share Tech Mono', monospace;
    border-right: 2px solid #fff;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes blinkcursor{
    from{
        border-right-color: #fff;
    }
    to{
        border-right-color: transparent;
    }
}

.typing-animation{
    animation: blinkcursor 2s steps(40) infinite normal ,
     typing 4s steps(40) 1s normal both infinite;

}

/* Animação do texto */

@keyframes typing{
    from{
        width: 0;
    }
    to{
        width: 16em;
    }
}

/* Configurando animação para mobile */
/* Removi */

@media(max-width:790px){

    .line{
        display: none;
    }
    .typing-animation{
        display: none;
    
    }
    .blinkcursor{
        display: none;
    }
    .typing{
        display: none;
    }
}
/* Fim da configuração animação para mobile */